# Mandatory plugin properties
plugin.description = Glados Clock plugin 1.0
plugin.class.name = fr.vinpav.glados.plugin.ClockPlugin
controller.class.name = fr.vinpav.glados.plugin.controller.ClockPluginController

# Clock plugin properties
# Clock tick interval in milliseconds
plugin.clock.tick = 30000