plugin.description = Glados Radio plugin 1.0
plugin.class.name = fr.vinpav.glados.plugin.RadioPlugin
controller.class.name = fr.vinpav.glados.plugin.controller.RadioPluginController

playlist.entry.count = 6
playlist.entry.name.1 = Europe 1
playlist.entry.url.1 = http://e1-live-mp3-128.scdn.arkena.com/europe1.mp3
playlist.entry.name.2 = RFM
playlist.entry.url.2 = http://rfm-live-mp3-128.scdn.arkena.com/rfm.mp3
playlist.entry.name.3 = Virgin Radio
playlist.entry.url.3 = http://vr-live-mp3-128.scdn.arkena.com/virginradio.mp3
playlist.entry.name.4 = NOVA
playlist.entry.url.4 = http://novazz.ice.infomaniak.ch/novazz-128.mp3
playlist.entry.name.5 = France Inter
playlist.entry.url.5 = http://direct.franceinter.fr/live/franceinter-midfi.mp3
playlist.entry.name.6 = Ouï FM
playlist.entry.url.6 = http://ouifm.ice.infomaniak.ch/ouifm-high.mp3
playlist.default.entry = 1